<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
       
    
    <add key="transit.folder.pattern" value="c:\transits\tr_{0}\tr_{0}public"/> <!--spscifies the pattern to discover in the folder structure of the vfiler--> 
    <add key="user.folder.pattern" value="c:\users\{0}"/> <!--spscifies the pattern to discover in the folder structure of the vfiler-->           
    <add key="migration.folders.exclude" value ="!!Centra,$RECYCLE.BIN,Application Data,Centra,Copy of Application Data,Copy of Centra,Copy of WINDOWS,Desktop,Ibmtools,microsoft,Program Files,Symphony,TEMP,WINDOWS,winnt_"/>
    <add key="conversion.checkifexists" value="false"/>
    <add key="metalogix.log.connectionstring" value="Data Source='C:\Users\Dahx Cazorla\Desktop\SPO Migration Package\Migration Jobs\jobs_history\JobHistory.lst'"/>
    

     <!--use this section when migration transit folders directly to SPO
    
    <add key="migration.source.path" value="/TR_{0}Public"/>
    <add key="migration.source.displayurl" value="Q:\Transits\TR_{0}\TR_{0}Public"/>
    <add key="migration.source.url" value="Q:\Transits\TR_{0}"/>
    
    <add key="migration.target.path" value="/Shared Documents"/>
    <add key="migration.target.displayurl" value="https://scotiabankuat.sharepoint.com/sites/CA{0}/Shared Documents"/>
    <add key="migration.target.url" value="https://scotiabankuat.sharepoint.com/sites/CA{0}"/>-->
    
    
    
    <!--use this section when migrating content from SP2013 to SPO
    
    <add key="migration.source.path" value="\Document Library\{0}"/>
    <add key="migration.source.displayurl" value="http://tocfisdrwf1uv:15599/transits/CA{0}/Document Library/TR_{0}"/>
    <add key="migration.source.url" value="http://tocfisdrwf1uv:15599/transits/CA{0}/"/>
   
    <add key="migration.target.path" value="/Shared Documents"/>
    <add key="migration.target.displayurl" value="https://scotiabankuat.sharepoint.com/sites/CA{0}/Shared Documents"/>
    <add key="migration.target.url" value="https://scotiabankuat.sharepoint.com/sites/CA{0}"/>
    
    -->


     <!--use this section when migrating scotiabank user folder directly to od4b-->
    
    <add key="migration.source.path" value="/{0}"/>
    <add key="migration.source.displayurl" value="Q:\Users\{0}"/>
    <add key="migration.source.url" value="Q:\Users\{0}"/>
    
    <add key="migration.target.path" value="/Documents"/>
    <add key="migration.target.displayurl" value="https://scotiabankuat-my.sharepoint.com/personal/{0}/Documents"/>
    <add key="migration.target.url" value="https://scotiabankuat-my.sharepoint.com/personal/{0}"/>
    
    

     <!--use this section when migrating scotiabank user folders to SP2013
    
    <add key="migration.source.path" value="/{0}"/>
    <add key="migration.source.displayurl" value="Q:\Users\{0}"/>
    <add key="migration.source.url" value="Q:\Users"/>
    
    <add key="migration.target.path" value="\Document Library\{0}"/>
    <add key="migration.target.displayurl" value="http://tocfisdrwf1uv:15599/transits/CA{0}/Document Library/TR_{0}"/>
    <add key="migration.target.url" value="http://tocfisdrwf1uv:15599/transits/CA{0}/"/>-->
    
    
    
        
  </appSettings>
  
</configuration>